*{
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 10px;
	margin: 20px;
	background: #666;
	border: 5px solid #ccc;
	width: 400px; /* ie5win fudge begins */
	voice-family: "\"}\"";
	voice-family:inherit;
	width: 370px;
	}